<html>
	<head>
		<title> {{name}} </title>
		<script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
		<script src="javascripts/bootstrap.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

		<!-- Include Date Range Picker -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

		<link rel="stylesheet" href="stylesheets/bootstrap.css">
		<link rel="stylesheet" href="stylesheets/style.css">
	</head>
	<body background="images/banner.jpg">
	<div class="container">
        <div class="intro">
          <h1>Speedy Car Rental Services</h1>
          <p>
            Established in 2030!, Speedy Car and Truck Rentals is proud to be operated with more than 300 locations across the country to serve you. We offer easy car and truck rental solutions for all your needs, whether it's to run errands, insurance replacement vehicles, a road trip with the family or truck rentals to move large furniture or move your entire house! Speedy is proud to always offer the best rates and special offers. Customers can also earn and redeem Petro-Points every time they rent a car or rent a truck!
          </p>
        </div>
	    
		<div class="row">
		  <div class="col-md-6">
		  	<div class="panel panel-info">
		    	<div class="panel-heading">Please fill the form below</div>
		    	<div class="panel-body">
			    	<form method="POST" action="/estimate" >
			    	  <div>
				    	<div class="col-md-6">
					      <label for="date">
					       From:
					      </label>
					      <input class="form-control" name="fromDate" placeholder="MM/DD/YYYY" type="text"/>
						</div>
						<div class="col-md-6">
					      <label for="date">
					       To:
					      </label>
					       <input class="form-control" name="toDate" placeholder="MM/DD/YYYY" type="text"/>
					    </div>
					  </div>

				  	  <div class="form-group">
					      <label class="control-label padding-style" for="carType">
					       Select a car type
					      </label>
					      <select class="select form-control" id="carType" name="carType">
					       <option value="Economy">
					        Economy (34.99$ per day)
					       </option>
					       <option value="Intermediate">
					        Intermediate (36.99$ per day)
					       </option>
					       <option value="Premium">
					        Premium (40.99$ per day)
					       </option>
					      </select>
					  </div>

					  <div class="form-group">
				  		<label class="control-label">
				        	Check to apply:
				        </label>
				       <div class="checkbox">
				         <input name="insurance" type="checkbox" value="Insurance (40.00$)"/>
				         Insurance (40.50$)
				        </label>
				       </div>
				       <div class="checkbox">
				         <input name="collisionDamage" type="checkbox" value="false"/>
				         Collision Damage Package (6.99$)
				        </label>
				       </div>
				       <div class="checkbox">
				         <input name="gps" type="checkbox" value="false"/>
				         GPS (24.99$)
				        </label>
				       </div>
					  </div>

					  <div class="form-group">
				        <label class="control-label" for="PromotionalCode">
				         Promotional Code
				        </label>
				        <input class="form-control" name="promotionalCode" type="text" readonly="readonly" value="5%"
				        />
				      </div>


					  <button type="submit" class="btn btn-default btn-style">Estimate</button>
					</form>
				</div>
		    </div>
		  </div>
		</div>
	
		<p id="txtResult"/>
		
</body>
<script type="text/javascript">
    $(document).ready(function(){
        var fromDate_input=$('input[name="fromDate"]');
        var toDate_input=$('input[name="toDate"]');
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        fromDate_input.datepicker({
            format: 'mm/dd/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        });
        toDate_input.datepicker({
            format: 'mm/dd/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        });
    });
</script>

</html>



